%nav.navigation
  %ul.main-navigation{:role => "navigation"}
    %li
      %a{:href => "#hero"} Home
    %li
      %a{:href => "resume"} Resume
    %li
      %a{:href => "projects"} Projects
    %li
      %a{:href => "hobbies"} Hobbies
    %li
      %a{:href => "#contact"} Contact